<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323396504255-q0i0kqrrqhrgndei9202e5f673688ssr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323396504255-q0i0kqrrqhrgndei9202e5f673688ssr</string>
	<key>API_KEY</key>
	<string>AIzaSyCX8IOzWtRJEy2o2US8PIU_FolRf44Mjgk</string>
	<key>GCM_SENDER_ID</key>
	<string>323396504255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.trackit.trackitMobile</string>
	<key>PROJECT_ID</key>
	<string>trackit-fac8a</string>
	<key>STORAGE_BUCKET</key>
	<string>trackit-fac8a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323396504255:ios:ce93746759c5a61600140a</string>
</dict>
</plist>